{% include 'header.html' %}
	<script>
	    $(document).ready(function() {
	        $('#host-ip').text(window.location.origin);
	    });
	</script>
	<h1>Configure {{d['dropletname']}} as the image</h1>
        
    <h3>Step 1: run the script below </h3>
    <p>This will set up our daemon on your child droplet.</p>
    <pre>$ curl <span id='host-ip'></span>/install/{{d['api_key']}} | sudo sh </pre>

    <h3>Step 2: Click the button below when you're done!</h3> 
    <p>This will let us take a snapshot of your server 
    so that we can replicate it. Warning: this will cause your droplet to restart.</p> 
    
    <a href="/snapshot?dropletname={{d['dropletname']}}"><button type="button" class="btn btn-success">Done</button></a> 
{% include 'footer.html' %}
