<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js'></script>
    <title>SpinUp</title>
    {% if d['signed_in'] %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#logout').css('display', 'block');
                $('#stats').css('display', 'block');
                $('#name').html("Signed in as {{d['username']}}");
            });
        </script>
    {% endif %}
    <span id='easter' style='display: none'>{{ d['easter'] }}</span>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:white!important" class="navbar-brand" href="#page-top">Spinup</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <p id="name" style="color:white" class="navbar-text navbar-right"></p>
                <ul style="font-size:15px;" class="nav navbar-nav navbar-right">
                    <li class="nav_link">
                        <a id="logout" style="color:white!important; display:none" href="/logout">Logout</a>
                    </li>
                    <li class="nav_link">
                        <a style="color:white !important" href="/">Home</a>
                    </li>
                    <li class="nav_link">
                        <a id="stats" style="color:white !important; display:none" href="/stats">Stats</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
</nav>
	<div class="container" style="align:center!important; padding-top: 90px;">
	{% if d['easter'] %}
		<script src='/static/easter.js'></script>
	{% endif %}
