{% include 'header.html' %}
	<h1>SpinUp</h1>
	You've found the webpage for SpinUp!<br>
    {% if d['signed_in'] %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#logout').css('display', 'block');
                $('#name').html("Signed in as {{d['username']}}");
            });
        </script>
    {% endif %}
    {% if not d['signed_in'] %}
		<img href={{url_for('static', filename='img/replication.png')}}
        
        <a href='/login'>Log in</a>
	{% endif %}
{% include 'footer.html' %}
