{% include 'header.html' %}
	<h1>SpinUp</h1>
    <div class="alert alert-info" role="alert">Api key: {{d['api_key']}}</div>
    
    {% if not d['signed_in'] %}
        <img src="{{url_for('static', filename='img/replicating.png')}}">
        
        <a href='/login'>Log in</a>
	{% endif %}
    <br> 
    <h3>Step 1: Select the droplet you would like to use for spin-ups</h3>
    {% for droplet in d['droplets'] %}
        <a href="/configure?droplet={{d['droplets'][droplet]}}&name={{droplet}}"><div><button type="button" class="btn btn-default btn-lg">{{droplet}}</button></a></div>
    {% endfor %}
{% include 'footer.html' %}
