{% include 'header.html' %}
	<h1>SpinUp</h1>
    <div class="alert alert-info" role="alert">Api key: {{ d['api_key'] }}</div>
    
    {% if not d['signed_in'] %}
        <img src="{{url_for('static', filename='img/replicating.png')}}">
        
        <a href='/login'>Log in</a>
	{% endif %}
    <br> 
    <h3>Step 1: Select the droplet you would like to use for spin-ups</h3>
    {%if d['childserver'] is not none %}
        <p>Currently, spin-ups are set to model after {{d['childserver']}}</p>
        <br>
    {%endif%}

    {% for droplet in d['droplets'] %}
        <a href="/configure?droplet={{d['droplets'][droplet]}}&name={{droplet}}"><div><button type="button" class="btn 
        {% if d['childserver'] == droplet %}
        btn-success
        {% else %}
        btn-default
        {%endif%}
        
        btn-lg">{{droplet}}</button></a></div><br>
    {% endfor %}

    <h3>Step 2: Select the droplet you would like to use as the load manager</h3>
    {%if d['childserver'] is not none %}
        <p>Currently, spin-ups are set to model after {{d['childserver']}}</p>
        <br>
    {%endif%}

    {% for droplet in d['droplets'] %}
        <a href="/configure_loadmanager?loadmanager={{droplet}}"><div><button type="button" class="btn 
        {% if d['loadmanager'] == droplet %}
        btn-success
        {% else %}
        btn-default
        {%endif%}
        
        btn-lg"
        {% if d['childserver'] == droplet %}
        style="display: none"
        {%endif%} 
        >{{droplet}}</button></a></div><br>
    {% endfor %}

    <h3>If you want to, manually spin up another server by clicking the button below.</h3>
    <center><a href="/spinup?skip=true"><img src="{{url_for('static', filename='img/spin.png')}}"></a></center>
        
{% include 'footer.html' %}
